@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
   
    height: 100vh;
}

header {
    background-color: gray;
}

header h1{
    text-align: center;
    padding: 20px;
}

#burguer {
    background-color: coral;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: rgb(248, 152, 117);
}

menu {
    display: none;
}

menu li {
    text-align: center;
    list-style-type: none;
}

menu a {
    background-color: ;
    text-decoration: none;
    color: white;
    display: block;
    background-color: rgb(78, 78, 78);
    padding: 10px;
    border: 1px solid black;
}

menu a:hover {
    background-color: rgb(168, 167, 167);
    color: black;
    
}
main {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
}

main h2 {
    padding: 10px;
}

main p {
    padding: 10px;
    text-align: justify;
    text-indent: 12px;
}

